
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,900");
@import url("font-awesome.min.css");
@import url('https://fonts.googleapis.com/css?family=PT+Sans');
/* Basic */

	

	body {
		display: flex;
		text-align: -webkit-center;
		z-index: -3;
		overflow: scroll;
		background: white;
		position: relative
		
	}

	.center{
		
   		cursor:pointer;
		text-align: center;
		position: relative;
		top: 0;
		bottom: 0;
		margin: auto;
		left: 0;
		right: 0;
}
	.center2{
		cursor:auto;
		text-align: center;
		width: 600px;
		position: relative;
		top: 0;
		bottom: 0;
		margin: auto;
		left: 0;
		right: 0;
	}

	.centerhead{
			cursor:auto;
			text-align: center;
			width: 140px;
			position: relative;
			top: 0;
			bottom: 0;
			margin-top: 37;
			margin-bottom: 37;
			left: 0;
			right: 0;
		}

	iframe{
	width: 65%%;
	height: 360px;
}
		
/*work*/
	#work{
			top: 0;
			bottom:0;
			right: 0;
			left:0;
			margin: auto;
			display: inline-block;
			position: absolute;
			text-align: center; 		
			z-index: -2;
}
	
		.intrinsic-container {
  								position: relative;
  								height: 100%;
 								overflow: hidden;
								margin-bottom: 5%;
}
 
/* 16x9 Aspect Ratio */
.intrinsic-container-16x9 {
  padding-bottom: 56.25%;
}
 
/* 4x3 Aspect Ratio */
.intrinsic-container-4x3 {
  padding-bottom: 75%;
}
 
.intrinsic-container iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}
		
.icon {
		font-size: 24px;
    		padding-right: 30px;
   		padding-left: 30px;
	}

		.icon:before {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
		}

		.icon > .label {
			display: none;
		}


/* Header */
	header{
			text-align: center;
		}
	#header{
			margin-bottom: 67px;
			text-align: center;
			top: -1em;
			vertical-align: middle;
			width: 100%;
	}

		#header h1 {
			font-size: 2.35em;
			font-weight: 900;
			letter-spacing: 0.035em;
			line-height: 1em;
		}


/* Footer */
	ul{
		letter-spacing: 1em;
		margin-top:10%
}
	li{
		font-size: 300%;
		display: inline;
		margin-bottom: 0%;
}
	#footer {
		font-family: 'PT Sans', sans-serif;
		color: white;
		bottom: 0;
		cursor: default;
		height: 6em;
		top: 60px;
		right: 0;
		left: 0;
		line-height: inherit;
		position: relative;
		text-align: center;
		width: 100%;
		line-height: 1;
		z-index: -2;
	}
#rotate-box{


   	
		text-align: center;
	
		position: fixed;
		top: 0;
		bottom: 0;
		margin: auto;
		left: 0;
		right: 0;

}



@-webkit-keyframes rotatebox /*--for webkit--*/{

    from{
        -webkit-transform:rotate(0deg) scale(1, 1);
        -webkit-transform:origin(0% 0%);
       
   }       
    to{
        -webkit-transform:rotate(720deg) scale(0, 0);
        -webkit-transform:origin(0% 0%);
        -webkit-apearance: none;
   }                       

}

	
#fadeout{
	position: absolute;
	top:0;
	background-color: black;
	width:3000;
	height: 3000;
	z-index: -1;
	
}

@-webkit-keyframes fadeout{
	from{
		opacity: 1;
	}
	to{
		opacity: 0;
		-webkit-apearance: none;
	}
}
