
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,900");
@import url("font-awesome.min.css");
@import url('https://fonts.googleapis.com/css?family=PT+Sans');
/* Basic */

	

	body {
		text-align: -webkit-center;
		display: inline-block;
		overflow: visible;
		background: black;
	}

	

	a {
		text-align: center;
		border-bottom: none;
		color: inherit;
		outline: 0;
		text-decoration: none;
	}

		a:hover {
			border-color: transparent;
		}

/*work*/
	#work1{
		display: inline-block;
		line-height: 0;
		height: 90%;
    		width: auto;
    		text-align: -webkit-center;
    		margin-top: 0;
    		margin-right: 0;
    		margin-left: 0;
		margin-bottom: 0;
}
	
		iframe{
			
			margin-bottom: 8%
		}
.intrinsic-container {
  position: relative;
  height: 100%;
  overflow: hidden;
	margin-bottom: 5%;
}
 
/* 16x9 Aspect Ratio */
.intrinsic-container-16x9 {
  padding-bottom: 56.25%;
}
 
/* 4x3 Aspect Ratio */
.intrinsic-container-4x3 {
  padding-bottom: 75%;
}
 
.intrinsic-container iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}
		
.icon {
		position: relative;
	}

		.icon:before {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
		}

		.icon > .label {
			display: none;
		}









/* Header */
	header{
		    text-align: center;
		}
	#header {
		
		text-align: center;
		top: -1em;
		vertical-align: middle;
		width: 100%;
	}

		#header h1 {
			font-size: 2.35em;
			font-weight: 900;
			letter-spacing: 0.035em;
			line-height: 1em;
		}


/* Footer */
	ul{
		letter-spacing: 1em;
		margin-top:10%
}
	li{
		font-size: 300%;
		display: inline;
		margin-bottom: 0%;
}
	#footer {
		font-family: 'PT Sans', sans-serif;
		color: white;
		margin-top: 150%;
		top: 10em;
		bottom: 0;
		cursor: default;
		height: 6em;
		left: 0;
		line-height: inherit;
		position: relative;
		text-align: center;
		width: 100%;
		line-height: 1;
	}
